@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


/* Landing Page */

.navbar{
    background: #C4DFDF;
    padding: 1rem 8rem;
    z-index: 1000;
}

.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}

.navbar .navlist .rent-but{
        background: #198754;
        font-weight: 600;
        padding: 0.6rem 1.4rem;
        margin-right: 20px;
        border-radius: 30px;
        text-decoration: none;
}

.navbar .navlist .rent-but:hover{
    background: #111;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: #111;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a:active{
    color: #198754;
}

#navbarSupportedContent > button{
    background: #198754;
    color: #111;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}

#navbarSupportedContent > button:hover{
    background: #111;
}

.mid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.mid video{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mid .hero{
    position: relative;
}

.mid .hero p{
    width: 55%;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    padding-bottom: 1rem;
}

.mid .hero a{
    background: #198754;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    margin-right: 20px;
    border-radius: 30px;
    text-decoration: none;
}

.mid .hero a:hover{
    background: #111
}

.about{
    background: #C4DFDF;
}

.about .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.about .text h6{
    color: #198754;
    font-weight: 800;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.about .text h2{
    color: #111;
    font-weight: 700;
    font-size: 3rem;
}

.about .text p{
    color: #111;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.about .text a{
    background: #198754;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
}

.about .text a:hover{
    background: #111
}

.tnc{
    background: #1a1e21;
}

.tnc .one{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem, 1.5rem;
    border-radius: 7px;
}

@media screen and (max-width: 988px){
    .navbar{
        padding: 1rem;
    }

    #navbarSupportedContent > ul{
        padding-left: 0.8rem;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 0.8rem 0;
    }

    .mid .hero h2{
        font-size: 2.5rem;
    }

    .mid .hero p{
        font-size: 1.1rem;
    }
    
    .mid .hero a{
        font-size: 0.9rem;
    }
}


/* Home Page */







/* Admin Page */