@import url('https://fonts.googleapis.com/css?family=Outfit:wght@100;200;300;400;500;600;700;800;900') format;


*{
    padding: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    list-style: none;
    text-decoration: none;
}

.root{
    --bg-color: #C4DFDF;
    --text-color: #111;
    --main-color: #29fd53;
}

body{
    background: #C4DFDF;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: #111;
}

.navlist{
    display: flex;
}

.navlist a{
    color: #111;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    color: #29fd53;
}

.logres{
    display: flex;
    align-items: center;
}

.logres a{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 25px;
    color: #111;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all .50s ease;
}

.logres a:hover{
    color: #29fd53;
}

.user i{
    color: #29fd53;
    font-size: 28px;
    margin-right: 7px;
}


.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #C4DFDF;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 15%;
}

.hero-text h1{
    font-size: 90px;
    line-height: 1;
    color: #111;
    margin: 0 0 45px;
}

.hero-text p{
    color: #111;
    font-size: 20px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-img img{
    width: 900px;
    height: auto;
    margin-right: 45px;
}

.hero-text a{
    display: inline-block;
    color: #fff;
    background: #111;
    border: 1px solid transparent;
    padding: 12px 30px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
}

.hero-text a:hover{
    color: #29fd53;
}

footer{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    line-height: 3rem;
}

.footer p{
    max-width: 500px;
    margin: 10px auto;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: all .55s ease;
}

.socials a:hover i{
    color: #29fd53;
}

.footer-buttom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-buttom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-buttom span{
    opacity: 0.5;
    font-weight: 200;
}